<div class="container">
  <h2>Investition erstellen</h2>
  <form #investitionForm="ngForm" (ngSubmit)="onSubmit(investitionForm)">
    <div class="form-group">
      <label for="massnahmeID">Maßnahme ID: </label>
      <input type="number" class="form-control" id="massnahmeID" required [(ngModel)]="investition.massnahmeID" name="massnahmeID">
    </div>
    <div class="form-group">
      <label for="jahr">Jahr: </label>
      <input type="number" class="form-control" id="jahr" required [(ngModel)]="investition.jahr" name="jahr">
    </div>
    <div class="form-group">
      <label for="kosten">Kosten: </label>
      <input type="number" class="form-control" id="kosten" required [(ngModel)]="investition.kosten" name="kosten">
    </div>
    <div class="form-group">
      <label for="anmerkung">Anmerkung: </label>
      <input type="text" class="form-control" id="anmerkung" [(ngModel)]="investition.anmerkung" name="anmerkung">
    </div>
    <button type="submit" class="btn btn-primary">Speichern</button>
  </form>
</div>

<div>
  <h2>Investitionen</h2>
  <table>
    <thead>
    <tr>
      <th>investition </th>
      <th>Massnahmen ID   </th>
      <th>Jahr    </th>
      <th>Kosten    </th>
      <th>Anmerkung   </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let investition of investitionen">
      <td>{{investition.investitionsID}}</td>
      <td>{{ investition.massnahmeID }}</td>
      <td>{{ investition.jahr }}</td>
      <td>{{ investition.kosten }}</td>
      <td>{{ investition.anmerkung }}</td>
    </tr>
    </tbody>
  </table>
</div>
